/* ========================================= Css reset ====================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* The Css reset is used to remove all the pre-defined styles given by the browser */

@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* ======================================= HTML5 display-role reset for older browsers =====================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* All Devices */

/* This section of all devices give the styles to all the divice sizes */

/*  I have used google fonts to give the fonts to the website , I used font-family: "Kiwi Maru"*/
/* padding gives more room to the element */

/* Rem is used to give the teh size of the root element; mostly the root element is of 16px *1.2  */
body {
  font-family: "Kiwi Maru", serif;
}
section {
  padding: 1.2rem 1.5rem;
  line-height: 2.4rem;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}
h2 {
  font-size: 1.2rem;
  padding: 20px;
}
h3 {
  padding: 0.5rem;
  font-size: 1.2rem;
}
/* line height gives a height to the words used in the para */
p {
  line-height: 20px;
  margin: 10px 0;
}
.intro-heading-style {
  background-color: rgba(93, 160, 0, 0.616);
  font-style: italic;
}
.learn-more {
  color: rgb(87, 150, 0);
  font-weight: bold;
  text-decoration: underline;
}
.under-text {
  text-decoration: none;
  text-align: right;
}
.testimonials,
.hobbies {
  background-color: lightgreen;
}
footer {
  background-color: rgb(23, 32, 56);
}
footer a {
  color: white;
}

/* =================================================== Mobile design ================================== */
/*  The media query help the browser to determine which style will apply when the browser window is less/equal to then 454px */

@media screen and (max-width: 454px) {
  /* -------------------------- Mobile design: Header------------------------ */
  #logo {
    width: 70%;
    max-width: 100px;
  }
  #navbarNav {
    padding: 0 0.6rem;
  }
  #header-cover-img {
    width: 100%;
    max-width: 500px;
    border-radius: 9px;
    margin: 10px 0;
  }
  /* ----------------------------- Mobile design: Intro Section ------------------ */
  /* Display block give the full width to the element and it also helps in aligning the element with margin: auto */
  .testimo section img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0px auto;
    padding: 20px;
  }
  article section {
    margin-bottom: 20px;
  }

  /* ----------------------------- Mobile design: About Me Section---------------- */
  #profile-pic {
    display: block;
    margin: auto auto;
    max-width: 100%;
  }
  .carousel-img {
    height: 100%;
    max-height: 350px;
  }
  /*----------------------------- Footer  ----------------------------*/
  footer {
    text-align: center;
    padding: 20px;
  }
  footer p,
  footer article,
  footer aside {
    margin: 10px 0;
    color: white;
  }

  #form-section h2 {
    padding: 120px;
  }
}

/* ============================================= Tab Devices and Desktop Devices ========================= */

@media screen and (min-width: 454px) {
  /* ---------------------------------- Tab and Devices: Header---------------------------- */
  #logo {
    width: 100%;
    max-width: 100px;
  }
  #header-cover-img {
    width: 100%;
    max-width: 1300px;
    border-radius: 9px;
    margin: 10px 0;
  }

  /*---------------------------------------- Tab and Devices: Intro Section ------------------------ */
  .flex-container {
    display: flex;
  }
  .testimo section img {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0px auto;
    padding: 20px;
  }
  /* About me */
  #profile-pic {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
  }
  .about-me {
    text-align: center;
  }
  /* ------------------------------------ Tab and Devices: Hobbies Section --------------------------- */
  .carousel-img {
    width: 100%;
    max-height: 850px;
  }

  /* ------------------------------------ Tab and Devices: Footer------------------------------- */
  footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: baseline;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .links a {
    padding: 15px 0;
  }
  footer article {
    margin: auto auto;
  }
  #copyright {
    color: white;
  }

  #form-section h2 {
    padding: 120px;
  }
}
